/* Empty. Add your own CSS if you like */
:root {
    --color-primaryBackground: linear-gradient(to bottom,#cb0009,#fa8b1d);
    /* --color-secondaryBackground: linear-gradient(to left,lightblue,rgb(255, 100, 20)); */
    /* --color-secondaryBackground: linear-gradient(to top,rgb(243, 74, 74),rgb(255, 153, 89)); */
    --color-secondaryBackground: linear-gradient(to bottom,rgb(243, 74, 74),rgb(255, 153, 89));
    --color-listOdd:  #6244fc;
    --color-listEven: #646aca;
    --color-moodBubble: rgb(67, 138, 202);
  }

/* headers and titles */
div.bar.bar-subheader {
  position: static !important;
  margin:0 !important;
  background-color: #cb0009;
}
.bar-subheader {
  height:42px;
}
.bar-subheader .title {
  position: relative;
  
  height:43px !important;
  line-height:38px !important;
  font-size:.75rem;
}
.header-bar-modal{
    background-color: rgba(0, 0, 0, 0);
    background-image: var(--color-secondaryBackground);
}

/* ion-slide-box-tabs, via https://raw.githubusercontent.com/JKnorr91/ion-slide-box-tabs/master/src/css/slidingTabs.css */

ion-slide {
    background-color: #f0f0f0;
}

ion-slide:nth-child(2n) {
    background-color: #fff;
}
.title{
    color: black !important;
}
.slider {
    height: 100%;
}

.slidingTabs {
    height: 48px;
    z-index: 10;
}

.slidingTabs .scroll {
    height: auto;
    min-width: 100%;
}

.slidingTabs ul {
    background-color: #387ef5;
    height: 48px;
}
.bar-subheader{
    background-color: #cb0009;
}

.slidingTabs ul li {
    height: 48px;
    line-height: 48px;
    text-align: center;
    float: left;
    margin: 0;
    padding: 0 12px 20px 12px;
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    position: relative;
    overflow: hidden;
}

.slidingTabs ul li.tab-active {
    color: #fff;
}

.slidingTabs ul li .ink {
    display: block;
    position: absolute;
    background: rgba(56, 147, 245, 0.8);
    border-radius: 100%;
    transform: scale(0);
}

.slidingTabs ul li .ink.animate {
    -webkit-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}

.slidingTabs .tab-indicator-wrapper {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: translateY(-2px);
    position: absolute;
}

.slidingTabs .tab-indicator-wrapper .tab-indicator {
    height: 100%;
    background-color: #fff;
    width: 70px;
    position: relative;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

/* end of ion-slide-box-tabs */


ion-slide-box {
  background-color:red;
  width:100%;
}
ion-slide {
  background-color:aqua;
  height:100%;
}
div.box {
  width: 100%;
  height:100%;

  display:block;
  background-image: var(--color-primaryBackground);
}
div#main_wrapper, div.slider {
  /* bottom:0; */
  height:100%;
}
ion-modal 
    .modal-wrapper {
        height: 70%;
        width: 60%;
    }

.menuModal{
    top:44px !important;
    left:70% !important;
    width: 27% !important;
    height:auto !important;
    min-height:10px !important;
    max-height:10.2rem !important;
    border:solid black 0.1rem !important;
}


.modal {
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    min-height: 240px;
    width: 60%;
    border-radius: 1rem;
    border:solid black 0.3rem; 
    z-index: 2000;
    /* animation-name: slide-in-down; */
}
.aboutModal{
    width:90% ;
    left:5%;
    height: 80%;
    top:5%;
    background-image: var(--color-secondaryBackground);
}
.modalTitle{
    font-size: 3rem;
    text-align: center;
    color:black;
}

textarea {
    resize: none;
}

ul {
    margin: .25em 2.5em .5em 2.5em;
}
ul>li {
    padding:0;
    margin:0;
    list-style-type:disc;
    list-style-position:outside;
}

h3 {
    color:#66deff;
}

.scroll{
    height: 100%;
}

span.gobutton {
    display:inline-block;
    height: 2rem !important;
    width: 2rem;
    border-radius: 100%;
    min-height: 30px; min-width:30px;
    padding: 0;
    border-width: 2px;
    border-color: #ffc900;
    border-style:solid;
    background-color: rgba(0,0,0,0.65);
    color:white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 70%;
    top:-5px;
    position:relative;
    text-align: super;
}

.moodSpinner{
    position: relative;
    left: 50%;
    width: 200px;
    height: 200px;
}
.importSpinner{
    right: 40%;
    top: 30%;
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
    display: inline;
    position: absolute;
}
.moodArrow{
    position: absolute;
    top: 43%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%);
}
.moodArrow2{
    position: absolute;
    bottom: 16%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%);
}
.moodQuestionMark{
    position: absolute;
    top: 0;
    left: 45px;
    font-family: fantasy;
}
.moodElementsDiv{
    height:90%;
}
.moodSelect{
    width: 75%;
    left: 12.5%;
    font-size: 2.3rem;
    text-align: center;
    border: solid 3px black;
    border-radius: 2em;
    background-color: var(--color-moodBubble) !important;
    color: black;
    position: absolute;
    height: 15%;
    line-height: 30px;
    right: 25%;
    bottom: 31%;
    min-width: 50%;
    min-height: 8%;
    vertical-align: baseline;    
}
.moodSelect > .selectSpan{
    text-align: left;
    /* width: 60%; */
}
.moodEmojiText{
    font-size: 20px;
          top: 50px;
          position: absolute;
          font-weight: 600;
          overflow-wrap: normal;
          white-space: normal;
          line-height: normal;
}
.textShadow{
    color:white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black;
}
.moodCameraButton{
    width: 20%;
    height: auto;
    border: 0.2rem black solid;
    border-radius: 1rem !important;
    padding: 0 !important;
    min-height: 0 !important;
    min-width: 0 !important;
    line-height: 0 !important;
    top: 50%;
    position: absolute !important;
    left: 5px;
}
.moodPlay{
    width: 75%;
    margin-left: 12.5%;
    font-size: 2.3rem;
    text-align: center;
    border: solid 3px black;
    border-radius: 2em;
    background-color: var(--color-moodBubble) !important;
    color: black;
    bottom: 5%;
    position: absolute;
    height: 15%;
    line-height: 20px;
}
.moodPlay > .selectSpan{
    float: none;
}
.shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }
.modalSelector{
    position: absolute;
    border-radius:0.7em;
    border-bottom: #444;
    border:.2em solid black;
    right: 7.5%;
    top: 10%;
    width:90%;
    min-width: 45%;
    height: 20%;
    min-height: 8%;
    font-size: 1.3rem;
    background-color: white;
    vertical-align: baseline;
}

/* mood css */
.help-bubble {
    width:11.8rem;
    font-size: 1rem;
}
/* .sample-show-hide {
    transition: all linear 0.5s;
  }
  .sample-show-hide.ng-hide {
    opacity: 0;
  } */

/* end of mood css */

.addMoodToTrack img{
    height: 30%;
    
}
.addMoodToTrack{
    background-color: red !important;
    
}

.addToMood{
    position: absolute;
    top: -20%;
    left: 8%;
    font-size: 10px;
    color:black;
}
.addToTextInButtonPlaylistView{
    position: absolute;
    bottom: -20%;
    left: 18%;
    font-size: 10px;
    color:black;
}
.addToTextInButtonMoodView{
    position: absolute;
    bottom: -20%;
    left: 8%;
    font-size: 10px;
    color:black;
}

.button{
    border-color: transparent;
    background-color: #cc0000;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}
.goButton{
    background-color:  #33cd5f !important;
}
